matrix:
  include:
    - language: scala
      scala:
        - 2.12.1
    - language: node_js
      node_js:
        - "6.1"
      before_script:
        - cd webapp
      script:
        - npm install
        - npm build
